{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="page-name">
    <div class="container">
       <h3 class="heading">contacts</h3>
    </div>
 </div>
 </div>
 <div class="content contacts">
    <div class="row">
       <div class="container">
          <div class="row">
             <div class="col-8 mx-auto left column">
                <h3 class="heading">GET IN TOUCH WITH US</h3>
                <address>Arras Boulevard,<br>Hampton Manga Warwick CV35 8UA</address>
                <p class="tel">P: +447719297449</p>
                <a class="email" href="mailto:info@firstworlddelivery.com">info@firstworlddelivery.com</a>
             </div>
             
          </div>
       </div>
    </div>
 </div>
{% endblock content %}